@model IEnumerable<CSD412ProjectGroup00000100.Models.Item>

@{
    ViewData["Title"] = "ViewPollItems";
}

<h1>ViewPollItems</h1>

<p>
    <a asp-controller="Polls" asp-action="Details" asp-route-id="@ViewData["PollId"]">Back to Poll</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Poll)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Poll.PollId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>

                    <a asp-action="Details" asp-route-id="@item.ItemId">Details</a>
                    @if ((bool)@ViewData["State"] == false)
                    {
                        <a asp-action="Edit" asp-route-id="@item.ItemId">| Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.ItemId">| Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


